
h2{
  font-size: 30px;
}
h3 img{
  float: left;
}
nav {
  margin-left: 70%;
  float: top;
}
section {
  margin: 0% 15%;
}
p {
  text-indent: 1em;
  margin: 1% 18% 1% 14%; 
}

div {
  background-image: url('img/list-bg.png');
  margin: 1% 14% 1% 15%;
}

ul{
  display: inline-block;
  margin-left: 17%;
}

#ul2ID {
  margin-left: 100px;
}

footer{
  margin-left: 10%;
  margin-right:40%;
}
h3 {
  display: inline-block;
}